spring.profiles.active: development

app.name: vishy-server-dev
app.description: a simple openmrc server (dev)

server.port: 8080
server.use-forward-headers: true
server.compression.enabled: false

management.context-path: /actuator

# LOGGING
logging.path: ./var/log
logging.file: application.log
logging.config: classpath:logback-development.xml
logging.level.org.springframework: DEBUG
logging.level.org.pac4j: DEBUG
logging.level.org.apache.shiro: DEBUG

vishy.oauth:
  enabled: true
  callback-url: http://localhost:8080/oauth_callback
  github:
    enabled: true
    key: insertYourKey
    secret: insertYourSecret

vishy.metrics:
  enabled: true

vishy.influxdb:
  enabled: false
  host: ${INFLUXDB_1_PORT_8086_TCP_ADDR}
  port: ${INFLUXDB_1_PORT_8086_TCP_PORT}
  database: db
  username: root
  password: root
  skip-idle-metrics: true
  interval-in-seconds: 60

vishy.jdbc:
  enabled: false
  jdbcUrl: jdbc:h2:mem:test;MODE=PostgreSQL;DB_CLOSE_ON_EXIT=FALSE
  driverClassName: org.h2.Driver
  tableName: vishy_openmrc_request
